body {
    text-align: center;
}
.header {
    color:rgb(143, 67, 13);
    font-size: 24px;
    font-weight: bold;
}

.age {
    font-size: 24px;
    width: 32px;
    text-align: center;
    /* position: absolute;
    top: 16px;
    left:160px; */
}

canvas {
    border: solid thin;
    margin-top: 6px;
}